<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>

    <link rel="stylesheet" href="/static/css/index.min.23a5b1ca.min.css" media="all">
</head>
<body>
    <h1>用户资料页面</h1>
    <div>
        userid:
        {{ user.id }}
    </div>
    <div>
        username:
        {{ user.username }}
    </div>
    <div class = "user_big_avatar">
        <img src = "{{user.user_image}} " title = "avatar">
    </div>


    <form method=post
          action='{{ url_for(".add_img") }}'
          enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
        <!--<button type="submit">Upload</button>-->
    </form>

</body>
</html>